name: Benchmark

on:
  push:
  workflow_dispatch:

jobs:
  bench:
    if: ${{ github.event_name == 'workflow_dispatch' || startsWith(github.event.head_commit.message, 'release:') }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: recursive

      - name: Emscripten
        uses: ./.github/actions/emscripten

      - name: Restore
        uses: ./.github/actions/restore

      - name: Benchmark
        run: pnpm bench
