name: Benchmark

on:
  push:
  workflow_dispatch:

jobs:
  bench:
    if: ${{ github.event_name == 'workflow_dispatch' || startsWith(github.event.head_commit.message, 'release:') }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: recursive

      - name: Emscripten
        uses: ./.github/actions/emscripten

      - name: Restore
        uses: ./.github/actions/restore

      - name: Benchmark
        run: pnpm bench
