name: Check

on:
  push:

jobs:
  check:
    if: ${{ !startsWith(github.event.head_commit.message, 'release:') }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: recursive

      - name: Export commit timestamp
        uses: ./.github/actions/source-date-epoch

      - name: Emscripten
        uses: ./.github/actions/emscripten

      - name: Restore
        uses: ./.github/actions/restore

      - name: Audit
        continue-on-error: true
        run: pnpm audit

      - name: Format
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build

      - name: End-to-End
        uses: ./.github/actions/e2e

      - name: Codecov test results
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
        with:
          files: ./junit.xml,./junit.e2e.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Codecov coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          files: ./coverage/cobertura-coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Generate SBOM
        uses: ./.github/actions/sbom

      - name: Publish dry-run
        run: npm pack --dry-run
